body {
    background-color: rgb(255, 205, 253);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    flex-direction: row;
}

h1 {
    padding-left: 0.5em;
    font-size: 400%;
}

p {
    padding-left: 2em;
    font-size: x-large;
}

.knoppen {
    list-style: none;
    padding: 0 0 0 3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: left;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    padding: 1em;
    background-color: rgb(255, 85, 85);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8%;
    box-shadow: 2%;
}

.scene {
    display: grid; 
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 10em;
}
#randomKnop {
    margin-top: 2em;
    background-color: rgb(136, 0, 0);
    border: rgb(89, 0, 0) ;
}

#bodyImg,
#broekZwartImg,
#broekGrijsImg,
#krullenImg,
#stijlImg,
#shirtRozeImg,
#zwarteSchoenenImg,
#blauweSchoenenImg,
#shirtGroenImg {
    grid-area: 1 / 1;
}

#bodyImg        { z-index: 1; }
#zwarteSchoenenImg {z-index: 2;}
#blauweSchoenenImg {z-index: 3;}
#broekZwartImg  { z-index: 4; }
#broekGrijsImg  { z-index: 5; }
#krullenImg     { z-index: 6; }
#stijlImg       { z-index: 7; }
#shirtRozeImg   { z-index: 8; }
#shirtGroenImg  { z-index: 9; }

.verborgen {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}